<nav class="navbar navbar-expand-lg navbar-light border-bottom border-info" style="background-color: #e3f2fd;">
	<h2 class="text-info text-monospace">Recipe Book</h2>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="navbar-collapse collapse justify-content-between" id="navbarNavAltMarkup">
		<ul class="navbar-nav">
			<a class="nav-item nav-link" (click)="onSelect('Recipe')"
				appCustomDirective><span class="font-family-Roboto">Recipe List</span></a>
			<a class="nav-item nav-link" (click)="onSelect('Shopping')" appCustomDirective>Shopping List</a>
			<a class="nav-item nav-link" (click)="onSelect('ngClassAndNgStyle')"
				appCustomDirective>[ngClass]/[ngStyle]</a>
		</ul>
		<ul class="navbar-nav nav-item dropdown" appDropdownDirective>
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="true">
				Manage
			</a>
			<div class="dropdown-menu custom-dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
			</div>
		</ul>
	</div>
</nav>