<div class="row">
	<div class="col-md-12">
		<img [src]="recipe.imgPath" style="max-height:300px;" alt="{{recipe.name}}" class="img-responsive">
  </div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!-- <img src="" alt="" class="img-responsive"> -->
			<h1>{{recipe.name}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!-- <img src="" alt="" class="img-responsive"> -->
			<div class="btn-group">
				<button class="btn btn-primary dropdown-toggle">
        Manage Receipe <span class="caret"></span>
      </button>
				<ul class="dropdown-menu">
          <li><a href="#"> To Shopping List</a></li>
          <li><a href="#"> Edit Receipe</a></li>
          <li><a href="#"> Delete Receipe</a></li>
				</ul>
			</div>
		</div>
	</div>
  	<div class="row">
		<div class="col-md-12">
			<!-- <img src="" alt="" class="img-responsive"> -->
			<!-- <h1>Receipe Name</h1> -->
      {{recipe.description}}
    </div>
	</div>
  	<div class="row">
		<div class="col-md-12">
			<!-- <img src="" alt="" class="img-responsive"> -->
			<!-- <h1>Receipe Name</h1> -->
      Ingredients
  	</div>
	</div>